# Mac OS
.DS_Store

# Python
*.pyc
**/.ipynb_checkpoints/*.ipynb

# R
.Rhistory

# Data
data/**/*.csv
data/**/*.json
data/**/*.cpg
data/**/*.dbf
data/**/*.prj
data/**/*.shx
data/**/*.shp
data/**/*.xml

